In [1]:
import pandas as pd
from pipeline import Dataset

In [2]:
dataset = Dataset(splits=(0.8, 0.2))
dataset.generate_datasplit()

C:\Users\olive\Desktop\MSc\BigDataProject_IMDB\pipeline\_dataset.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["numVotes"].fillna(df["numVotes"].median(), inplace=True)  # We fill nan values with median of votes.
C:\Users\olive\Desktop\MSc\BigDataProject_IMDB\pipeline\_dataset.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["runtimeMinutes"].replace({r"\N": None}, inplace=True)
C:\Users\olive\Desktop\MSc\BigDataProject_IMDB\pipeline\_dataset.py:52: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["runtimeMinutes"].fillna(df["runtimeMinutes"].median(), inplace=True)

In [3]:
train_df = dataset.train_df

In [4]:
display(train_df)

,index,runtimeMinutes,primaryTitle,label,numVotes,originalTitle,director_score_mean_mean,director_score_mean_total,writer_score_mean_mean,writer_score_mean_total,year,titles_changed
491,491,100,A Good American,True,1181.0,A Good American,1.000000,1.0,1.000000,1.0,2015,False
1078,1078,108,Miracle in the Rain,True,4701.0,Miracle in the Rain,1.000000,3.0,0.757576,25.0,1956,False
889,889,105,Invincible,True,68930.0,Invincible,1.000000,1.0,1.000000,1.0,2006,False
556,556,100,Shootfighter: Fight to the Death,False,1193.0,Shootfighter: Fight to the Death,0.000000,0.0,0.000000,0.0,1993,False
3581,3581,95,Marie-Francine,False,1153.0,Marie-Francine,0.000000,0.0,0.000000,0.0,2017,False
...,...,...,...,...,...,...,...,...,...,...,...,...
3844,3844,98,Night Shift,False,1325.0,Police,0.000000,0.0,0.000000,0.0,2020,True
2079,2079,157,Khiladi,True,7963.0,Khiladi,0.272727,3.0,1.000000,2.0,1992,False
765,765,103,Summer Hours,True,7542.0,L'heure d'été,1.000000,31.0,1.000000,23.0,2008,True
2783,2783,87,Dirty Deeds,False,8522.0,Dirty Deeds,0.000000,0.0,0.000000,0.0,2005,False
3764,3764,97,Jack's Back,False,3301.0,Jack's Back,0.000000,0.0,0.000000,0.0,1988,False

In [5]:
display(dataset.complete_df)

,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,director,writer
tconst,,,,,,,,,
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0006782
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0473134
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0523932
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0932559
tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,nm0000428,nm0662461
...,...,...,...,...,...,...,...,...,...
tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False,nm2660375,nm3553292
tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True,nm0550881,nm0598531
tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,nm0631590,nm2063122
tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,nm0631590,nm0277932
tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,nm0631590,nm3547655