In [1]:
import pandas as pd
from pipeline import Dataset

In [2]:
dataset = Dataset(splits=(0.8, 0.2))
dataset.generate_datasplit()

C:\Users\olive\Desktop\MSc\BigDataProject_IMDB\pipeline\_dataset.py:50: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["numVotes"].fillna(df["numVotes"].median(), inplace=True)
C:\Users\olive\Desktop\MSc\BigDataProject_IMDB\pipeline\_dataset.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["runtimeMinutes"].replace({r"\N": None}, inplace=True)
C:\Users\olive\Desktop\MSc\BigDataProject_IMDB\pipeline\_dataset.py:52: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["runtimeMinutes"].fillna(df["runtimeMinutes"].median(), inplace=True)

In [3]:
train_df = dataset.train_df

In [4]:
display(train_df)

,index,runtimeMinutes,label,numVotes,originalTitle,primaryTitle,director_score_mean_mean,director_score_mean_total,writer_score_mean_mean,writer_score_mean_total,year,titles_changed
1461,1461,110,True,326432.0,True Grit,True Grit,1.000000,44.0,0.960784,22.0,2010,False
792,792,137,True,721266.0,Kill Bill: Vol. 2,Kill Bill: Vol. 2,1.000000,5.0,0.900000,2.5,2004,False
3415,3415,93,False,2072.0,Survivor,Survivor,0.000000,0.0,0.000000,0.0,2014,False
1012,1012,102,True,2208.0,Sibir. Monamur,Sibir. Monamur,1.000000,1.0,1.000000,1.0,2011,False
1844,1844,124,False,1003.0,Slaves of New York,Slávés ớf Néw Yớrk,0.000000,0.0,0.000000,0.0,1989,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2244,2244,157,False,1398.0,Velipadinte Pusthakam,Velipadinte Pusthakam,0.928571,13.0,0.500000,1.0,2017,False
988,988,102,False,2848.0,Downloading Nancy,Downloading Nancy,0.000000,0.0,0.000000,0.0,2008,False
2543,2543,78,False,1704.0,Splatter University,Splatter University,0.000000,0.0,0.000000,0.0,1984,False
2115,2115,140,True,85321.0,La Môme,La Vie En Rose,0.500000,2.0,0.750000,1.0,2007,True
2996,2996,88,True,1448.0,Has Anybody Seen My Gal,Has Anybody Seen My Gal,1.000000,11.0,1.000000,1.5,1952,False

In [5]:
display(dataset.complete_df)

,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,director,writer
tconst,,,,,,,,,
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0006782
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0473134
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0523932
tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,nm0523932,nm0932559
tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,nm0000428,nm0662461
...,...,...,...,...,...,...,...,...,...
tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False,nm2660375,nm3553292
tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True,nm0550881,nm0598531
tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,nm0631590,nm2063122
tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,nm0631590,nm0277932
tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,nm0631590,nm3547655